<%- include("../partials/header") %>
<div class="recipesBackground">

    <h1 class="text-center pt-5" style="color:white"> All recipes </h1>
    <div class="col-12 text-center">
        <a href="/recipes/new"><button class="btn btn-success ml-auto"><i class="fas fa-plus"></i> Add New
                Recipe</button></a>
    </div>
    <br>
    <div class="container text-center">
        <div class="row card-deck pb-5">
            <% recipes.forEach(function(recipe){ %>
            <div class="col-6 col-md-4">
                <!--card -->
                <div class="card mb-5 recipeCards">
                    <img class="card-img recipes-page-images" src="<%=recipe.image%>">
                    <div class="card-body">
                        <h4 class="card-title"><%= recipe.name %></h4>
                        <% if(recipe.name.length < 18){ %>
                        <br class="breakAfterTitle">
                        <% }%>
                        <small class="text-muted timeUserInfo"><i class="fas fa-hourglass-start text-info"></i>
                            <%= recipe.timeToMake%> minutes
                            <i class="fas fa-users text-info"></i> by @<%= recipe.author.username %>
                        </small>
                        <p class="card-text recipeDescription"><%= recipe.oneLiner.substring(0,70) %>...</p>
                        <a href="/recipes/<%=recipe._id%>" class="btn btn-info">Read Recipe</a>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views"><i class="far fa-clock text-info"></i> Apr 4, 2020</div>
                        <div class="stats">
                            <i class="far fa-star"></i> 4.5
                            <i class="far fa-comment"></i> <%=recipe.comments.length%>
                        </div>

                    </div>
                </div>
            </div>

            <% });%>
        </div>
    </div>


</div>
<%- include("../partials/footer") %>