<%- include("../partials/header") %>
<div class="recipesBackground">
    <% if(currentUser){ %>
    <h4>Welcome, <%=currentUser.username%></h4>
    <% } %>
    <h1 class="text-center"> My recipes </h1>
    <a href="/recipes/new"><button class="btn btn-success center-block">Add New Recipe</button></a>
    <br>
    <div class="container">
        <div class="row">
            <% recipes.forEach(function(recipe){ %>
            <div class="card col-6 col-md-3">
                <img class="card-img-top imagesRecipesPage" src="<%=recipe.image%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= recipe.name %></h5>
                    <p class="card-text"><%= recipe.oneLiner %>></p>
                    <footer class="blockquote-footer">by <%= recipe.author.username %></footer>
                    <a href="/recipes/<%=recipe._id%>" class="btn btn-primary">Let's make this!</a>
                </div>
            </div>
            <% });%>
        </div>
    </div>

</div>
<%- include("../partials/footer") %>