<%- include("../partials/header") %>
<div class="recipesBackground">
    <div class="container">
        <div>
            <h2> let's make <%=recipe.name %> !!</h2>
            <h4><em> by <%=recipe.author.username %> </em></h4>
        </div>
        <div class="row">
            <div class="card col-md-6 showRecipeCards">
                <img src="<%=recipe.image%>" class="card-img-top img-responsive">
                <div class="card-body">
                    <p class="card-text"><em><%=recipe.oneLiner%></em></p>
                </div>

            </div>
            <div class="col-md-6">
                <h3> Ingredients:</h3>
                <% recipe.ingredients.forEach(function(ingredient){ %>
                <li><%= ingredient %> </li>
                <% })  %>
                <br>
                <h3> Method:</h3>
                <p><%= recipe.method %></p>
                <br>
                <!--&& because if no user logged in would be error otherwise-->
                <%if(currentUser && recipe.author.id.equals(currentUser._id)){    %>
                <form class="inline-form-button" action="/recipes/<%=recipe._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a class="btn btn-warning inline-form-button" href="/recipes/<%=recipe._id%>/edit">Edit</a>
                <%  }  %>
                <br>

            </div>
        </div>

        <div class="well">
            <div class="text-right">
                <a class="btn btn-success" href="/recipes/<%=recipe._id%>/comments/new">leave review</a>
            </div>
            <hr>
            <% recipe.comments.forEach(function(comment){ %>
            <div class="row">
                <div class="col-md-12">
                    <strong>@<%= comment.author.username %></strong>
                    <span class="pull-right">10 days ago</span>
                    <p><%- comment.text %> </p>
                    <%if(currentUser && comment.author.id.equals(currentUser._id)){    %>
                    <a class="btn btn-xs btn-warning inline-form-button"
                        href="/recipes/<%=recipe._id%>/comments/<%=comment._id%>/edit">edit</a>
                    <form class="inline-form-button"
                        action="/recipes/<%=recipe._id%>/comments/<%=comment._id%>?_method=DELETE" method="post">
                        <button class="btn btn-xs btn-danger">Delete</button>
                    </form>
                    <% }; %>
                </div>
            </div>


            <% }) %>

        </div>


    </div>

</div>
</div>





<%- include("../partials/footer") %>